{% extends "AppCoder/padre.html" %}
{% load static %}

{% block contenidoQueCambia2 %}
<h2 class="text-white-50 mx-auto mt-2 mb-5">E-COMMERCE</h2>
{% endblock %}

{% block contenidoQueCambia %}

<div class="container d-flex">
    {% for producto in productos %}
        <div class="card" style="width: 18rem;">
            <img src={{ producto.URLimagen }} class="card-img-top" alt={{ producto.nombre }}>
            <div class="card-body">
              <h5 class="card-title">{{ producto.nombre }}</h5>
                <h5 class="text-end">${{producto.precio}}</h5>
              <a href={% url 'detalles' producto_id=producto.id%} class="btn btn-primary">Ver</a>
            </div>
          </div>
    {% empty %}

        <p>Nada que mostrar</p>
    {% endfor %}
    
</div>

{% endblock %}
